/* common shared style ----- */



*{
    font-family: verdana;
}
.orange-col{
    color:#FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border:none;
    color:white;
    font-size:20px;
    font-weight: 700;
    padding:15px 35px 15px 36px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575;
    text-align: center;
    font-size:18px;
}

/* nav related styles ------- */



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
nav .nav-title{
    font-family: 'Open Sans', sans-serif;
    color: #181818;
    font-size: 45px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}


/* header related styles ------ */

header{
    background-color: #fff8f3;
    background-image: url("../images/header_bg.png"),url("../images/developer.png");
    background-repeat: no-repeat;
    background-position:bottom right, top left ;
}
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
.banner-content{
    max-width:500px;
}
.banner .profile-pic{
    width:500px;
}
.banner-greeting{
    font-size: 35px;
    color:#474747;
    margin-bottom: 0;
}
.banner-title{
    font-size:75px;
    font-weight: 700;
    margin-top: 5px;
}

/* main section styles ------- */

main{
    max-width: 1140px;
    margin:0 auto;
}
main section{
    margin-top: 130px;
}
/* about section styles ------- */


.about {
    padding:130px;
    border-radius:10px;
    background-color: #fff8f3;
    margin:130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#what-i-do-description{
    padding:30px 150px;
}

/* skills related styles ------ */


.skills-container{
    display: flex;
    gap:24px;
}
.skill{
    padding:30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color:#757575;
}
.skill h4{
    color:#474747;
}


/* Resume Section styles ------- */

.resume-column-title{
    color:#474747;
    font-size: 27px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap:50px;
}
.resume-item-title{
    color:#474747;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-institute, .resume-item-description{
    color:#757575;

}
.resume-container hr{
    margin:30px 0;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer style ----- */

footer{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    margin-top: 80px;
    padding:130px 200px;
}
.footer-column{
    width:50%;
}
.contact input,textarea{
    display: block;
    margin-bottom: 25px;
    padding:18px 35px;
    color:#757575;
    border:none;
    border-radius: 5px;
    width:100%;
    resize: none;
    outline-color:#fd6f0a5b;
}
footer .social-links img{
    margin-right:20px;
}
footer .footer-column .foot-desc{
    text-align: justify;
}